{%  if rabbitmq_env__node_ip is defined %}
RABBITMQ_NODE_IP_ADDRESS={{ rabbitmq_env__node_ip }}
{%  endif %}
{%  if rabbitmq_env__node_port is defined %}
RABBITMQ_NODE_PORT={{ rabbitmq_env__node_port }}
{%  endif%}
{%  if rabbitmq_env__node_name is defined %}
RABBITMQ_NODENAME={{ rabbitmq_env__node_name }}
{%  endif %}
{%  if rabbitmq_env__use_longname is defined %}
RABBITMQ_USE_LONGNAME={{ rabbitmq_env__use_longname|lower }}
{%  endif %}
{%  if rabbitmq_env__log_base is defined %}
RABBITMQ_LOG_BASE={{ rabbitmq_env__log_base }}
{%  endif %}
